<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9963d8">  <td>19/12/16 16:45:01</td>   <td>0</td> <td title="&gt;&gt;TestBase.BeforeTest()[pri:0, instance:TestScript.Module1@610694f1]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@990416209</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>19/12/16 16:45:11</td>   <td>10635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Module1.test1()[pri:0, instance:TestScript.Module1@610694f1]">test1</td> 
  <td>main@990416209</td>   <td></td> </tr>
</table>
